body {
  font-family: arial, sans-serif;
}

nav a {
  display: inline-block;
    float: right;
}

.logo {
  vertical-align: middle;
  text-align: center;
}


.logo img {
  vertical-align: middle;
  height: 92px;
}

.search {
  vertical-align: middle;
  text-align: center;
}

.search p {
  position: relative;
  white-space: nowrap;
  margin-top: -50px;
  margin-left: -62px;
  color: #4285f4;
  font-size: 16px;
  font-family: roboto-regular, arial, sans-serif;
}

.button {
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  color: #757575;
  font-size: 13px;
  font-weight: bold;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px; /*No padding top/bottom and 10px padding left/right */
  height: 36px;
}

.search p {
  display: inline-block;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
    display: inline-block;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}
